.App {
  text-align: center;
}

.transactions-container {
  width: 80%;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transactions-table {
  border-collapse: collapse;
  width: 80%;
  margin-bottom: 20px;
}

.transactions-table th,
.transactions-table td {
  border: 1px solid #999;
  padding: 8px;
  text-align: left;
}

.transactions-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.add-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  width: 30%;
}

.form-group input,
.form-group select {
  width: 70%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.submit-button {
  padding: 10px 15px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button{
  padding: 10px 15px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}